@page "/orders"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "employee")]

<PageTitle>Orders</PageTitle>

<h3>Orders</h3>

@code {
    // List order information, when order will be delivered, and allows the placing of orders
}
