@page "/reports"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "employee")]
<PageTitle>Reports</PageTitle>

<h3>Reports</h3>

@code {
    // Customize reports using visualization tools like Pie Charts with possible templates
}
