@page "/supplier"

<PageTitle>Supplier</PageTitle>

<h3>Supplier</h3>

@code {
    // List of registered supplies with their contact information and the 
    // most recent orders from suppliers (optional)
}
